// Зеленые кнопки
.button-green {
    @include button($green-light, $white);
  
    &:hover {
      background-color: $green-dark;
    }
  }
  
  // Синие кнопки
  .button-blue {
    @include button($blue-dark, $white);
  
    &:hover {
      background-color: $blue-light;
    }
  }
  
  // Красные кнопки
  .button-red {
    @include button($red-light, $white);
  
    &:hover {
      background-color: $red-dark;
    }
  }

  .button-link {
    @include link-style($gray, $black);
  }
  