.input {
    width: 100%;
    padding: 10px;
    border: 2px solid $gray;
    border-radius: 5px;
    font-size: $text-size;
  
    &--active {
      border-color: $blue-dark;
    }
  
    &--error {
      border-color: $red-light;
    }
  }
  