// заголовки
  @mixin heading($size, $color) {
      font-family: $font-family;
      font-size: $size;
      color: $color;
    }
  
  // кнопки
  @mixin button($bg-color, $text-color) {
    background-color: $bg-color;
    color: $text-color;
    border: none;
    padding: 10px 20px;
    border-radius: $radius-default;
    font-size: $text-size;
    cursor: pointer;
    text-decoration: none;
  
    &:hover {
      opacity: 0.9;
    }
  }

  //инпуты
  @mixin input-styles(
    $width: 90%, 
    $padding: 10px, 
    $font-size: 16px, 
    $border-color: $grey, 
    $border-radius: $radius-default, 
    $bg-color: $white, 
    $focus-border: $blue-light, 
    $focus-bg: $blue-light-trans,
    $error-border: $red-dark-trans
) {
    width: $width;
    padding: $padding;
    font-size: $font-size;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    background-color: $bg-color;

    &:focus {
        border-color: $focus-border;
        background-color: $focus-bg;
    }

  &:invalid:focus {
      background-color: $red-dark-trans;
      box-shadow: 0 0 5px $error-border;
  }
}

//для регистрации
@mixin input-group($margin-bottom: 15px) {
  margin-bottom: $margin-bottom;

  label {
    display: block;
    font-size: 14px;
    color: $text-color; 
    margin-bottom: 5px;
  }

  input,
  select {
    width: 90%;
    padding: 10px;
    font-size: 14px;
    color: $text-color; 
    border: 1px solid $grey; 
    border-radius: 5px;
    background: $white; 
  }

  input:focus,
  select:focus {
    outline: none;
    border-color: $blue-dark; 
  }
}
  
// для серых кнопок
  @mixin link-style($color: $white, $hover-color: $text-color-link, $font-size: 16px) {
    color: $color;
    font-size: $font-size;
    text-decoration: none;
  
    &:hover {
      color: $hover-color;
    }
  }

  //это для футера
  @mixin flex($justify: flex-start, $align: stretch, $direction: row) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    position: relative;
  }

  // фон для главного
  @mixin main-background($image, $height: 76vh, $padding: 50px 0) {
    background-image: url($image);
    height: $height;
    background-size: cover; // Или можно использовать auto, если хотите сохранить исходные размеры
    background-position: center;
    background-repeat: repeat-y; // Повторять по вертикали
    padding: $padding;
    display: flex;
    align-items: center;
    flex: 1 1 auto;
  }
  

  