// Цветовая палитра
$white: #FCFCFD;
$blue-light: #63D3EE;
$black: #0A151B;
$green-light: #84BE44;
$green-dark: #71A736;
$blue-dark: #2CB1D1;
$gray: #61686A;
$red-light: #E3746F;
$red-dark: #CE635E;

// Шрифты
$font-family: 'Roboto', sans-serif;

// Размеры текста
$h1-size: 34px;
$h2-size: 22px;
$text-size: 16px;

// Цвета текста
$text-color: $black;
$text-color-link: $gray;
$text-color-secondary: $blue-dark;
