// цвета
$white: #fcfcfd;
$white-trans: rgba($white, 0.6);
$blue-light: #63d3ee;
$blue-light-trans: rgba($blue-light, 0.6);
$black: #0a151b;
$green-light: #84be44;
$green-dark: #71a736;
$blue-dark: #2cb1d1;
$grey: #61686a;
$red-light: #e3746f;
$red-dark: #ce635e;
$red-dark-trans: rgba(#ce635e, 0.6);

// шрифты
$font-family: "Roboto", sans-serif;
$font-family-logo: "Lobster", sans-serif;

// Размеры текста
$h1-size: 34px;
$h2-size: 22px;
$text-size-main: 24px;
$text-size: 16px;

// для текста цвета
$text-color: $black;
$text-color-link: $grey;
$text-color-secondary: $blue-dark;

// для радиуса
$radius-default: 50px;
